/* Laptop device */
@media screen and (max-width: 1200px) {
  .banner-cotent h1 {
    font-size: 48px;
  }

  .service-card {
    padding: 80px 20px;
  }

  .story-image img {
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
  
}

/* Tablet device */
@media screen and (max-width: 1024px) {
  #banner {
    flex-direction: column-reverse;
  }
  .banner-cotent {
    width: 100%;
    text-align: center;
  }
 
  .banner-image {
    width: 100%;
  }

  #service-card-container {
    flex-direction: column;
  }
  .service-card {
    max-width: 100%;
  }
  .story-card {
    flex-direction: column;
    text-align: center;
  }
  .story-content {
    width: 100%;
  }
  .story-image {
    width: 100%;
  }
  #reviews-contant {
    flex-direction: column;
    
  }
  .reviews-card {
    text-align: center;
  }
  .reviews-name {
    padding: 0 ;
    margin-bottom: 10px;
  }

}

/* Mobile device up to 425px */
@media screen and (max-width: 640px) {
  .btn , .btn-white  {
    padding: 12px 20px;
  }
  
  .banner-cotent h1 {
    font-size: 36 px;
  }
  .banner-cotent {
    text-align: center;
  }

  .heading-content h2 {
    font-size: 32px;
  }
  #country-card-container {
    flex-direction: column;
  }
  #country-card-container h2 {
    text-align: center;
  }
  .copyright p {
  font-size: 12px;
}
.social-link img {
  width: 30px;
  padding: 5px 7px;
}
.reviews-text
 {
    margin-bottom: 80px;
}
}